<h1>{{title}}</h1>
<input id="loginButton" type="submit" onclick="signIn()" value="Sign in with Okta">
{{#extend "scripts"}}
    <script>
        function signIn() {
            window.location.href='{{oktaURL}}/oauth2/v1/authorize?idp={{oktaIDPID}}&client_id={{oktaClientID}}&response_type=code&response_mode=query&scope=openid&redirect_uri=http%3A%2F%2Flocalhost:9999%2Flogin&state=123123'
        }
    </script>
{{/extend}}
